* {
    scroll-behavior: smooth;
  }
body{
    font-family: 'Roboto', sans-serif;
    background-color: aliceblue;
}

/* NavBar CSS */
.navbar{
  background-color: rgb(192, 192, 239) !important;
}
.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
}
.navbar-brand{
    font-size: 25px;
    font-weight: 550;
    color: rgb(14, 14, 131) !important;
}
.span{
    color: blue;
}
.nav-link{
  transition: 0.3s;
}
.nav-link:hover{
  transform: scaleX(1.05);
  font-weight: 500;
}
 /* Jumbotron */
 .jumbotron{
    background-image:linear-gradient(rgba(4,9,30,0.3),rgba(4,9,30,0.5)), url(../images/background\ image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
 }
 .jumboCopy {
    width: 70%;
    /* min-width: 500px;
    max-width: 700px; */
    color: white;
    text-align: center;
  }
  .jumboCopy img {
    width: 200px;
  }
  .jumboCopy h1,
  .jumboCopy p {
    font-weight: 400;
  }

  /* About Me CSS style */
#about p{
    padding: 0 25px;
    text-align: justify;
}

/* My Works CSS style */
#myWorks h2{
    margin-bottom: 50px;
}

.cardContainer {
    margin-bottom: 15px;
  }
  .card {
    margin: 0 auto;
    cursor: pointer;
    transition: 0.5s;
  }
  .card-body p{
    font-size: smaller;
   }
.card-body a{
   font-size: 20px;
   text-decoration: none;
}
.card:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.card-body a{
  transition: 0.3s;
}
.card-body a:hover{
  font-weight: 600;
}
.card-body a:active{
  color: red;
}

/* Skill CSS */
#flush-list li{
  background-color: aliceblue;
}
/* Contact CSS Style */
#contact{
  margin: 0;
  padding: 0 !important;
}
.contact-links{
    background-color: blue;
    padding:10px;
    text-align: center;
}

.contact-links a i{
    display: inline-block;
    color: white;
    padding: 0 20px;
}
i{
  transition: 0.5s;
}
i:hover{
  transform: scale(1.3);
}

/* Responsive CSS */
@media only screen and (max-width:770px) {
 .jumboCopy h1{
  font-size: 35px;
 }
}


@media only screen and (max-width: 370px){
  .jumboCopy h1 {
    font-size:25px;
  }
  .jumboCopy p{
    font-size:x-small;
  }
  .jumboCopy img{
    width: 150px;
  }
}